html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color:#FFFFFF;
  color: black;
}
body > .container {
  padding: 72px 15px 0;
}

.container .text-muted {
	margin: 20px 0;
}

.title{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	text-decoration: none;
    font-size: 2rem;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
}

@media (min-width: 372px){
	.title {
		font-size: 3rem !important;
	}
}

input#simulaciones {
	padding: 10px 10px;
	border: 1px solid #459ECE;
	background: transparent;
	outline: none;
	display: inline-block;
	width: 100%;
	background: #D4DFEA;
	max-width: 100%;
	border-radius: 3px;
}

input[type='submit']{
	outline: none !important;
}
@media (min-width: 655px){
	.col-md-6.imagen {
		width: 20% !important;
		float:left;
	}
	.col-md-6.texto {
		width: 80% !important;
		float:right;
	}
}

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    max-height: 370px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #459ECE;
}